body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  margin-left: 25px;
  margin-right: 25px;
}

header {
  background-color: #ffb400;
  color: #fffdf4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.open {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  height: 100px;
}

.nav-bottom {
  display: none;
  position: fixed;
  height: 100vh;
  margin-top: 20px;
  color: #000;
  padding-bottom: 20px;
  border-image-slice: 1;
  top: 99px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ffb400;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 90px;
  width: auto;
  margin-right: 10px;
  padding-right: 15px;
}
.nav-controls {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: end;
  padding-bottom: 30px;
  margin-right: 30px;
}
.language-switcher,
#burger-btn,
.close {
  margin-left: auto;
}

.language-switcher {
  font-weight: normal;
  font-size: 14px;
}
.language-link {
  text-decoration: none;
  color: #fffdf4;
  margin-right: 0px;
}
.language-link + .language-link {
  margin-left: 0px;
}
.language-link:hover {
  text-decoration: underline;
}

#burger-btn {
  display: block;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  color: #fffdf4;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.nav-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 55px;
  justify-items: center;
  margin-bottom: 30px;
  margin-right: 7%;
}
.nav-content ul {
  list-style: none;
  padding: 0;
}
.nav-item {
  display: block;
  line-height: 45px;
  font-size: 24px;
}
.nav-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: color 0.5s ease;
}

.nav-item a:hover {
  color: #fffdf4;
}
.submenu {
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 45px;
  font-size: 21px;
}
.nav-search {
  display: grid;
  grid-template-columns: 30px 400px 20px;
  align-items: center;
  justify-content: end;
  grid-gap: 10px;
  width: 700px;
  height: 70px;
  background-color: #fffdf4;
  border: 1.5px solid #333;
}
.nav-search__input {
  justify-self: start;
  width: 350px;
  height: 55px;
  background-color: #fffdf4;
  border: none;
  outline: none;
  margin-right: 30px;
}
.nav-search__input::placeholder {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  justify-content: flex-start;
  font-size: 18px;
}

.nav-search__icon {
  justify-items: end;
  margin-right: 10px;
  justify-self: center;
}
.nav-search__btn {
  justify-self: end;
  border: none;
  background: none;
  margin: 0 20px 0 10%;
  cursor: pointer;
}
.fa-search {
  color: black;
  font-size: x-large;
  font-weight: 600;
}

.fa-arrow-right-long {
  font-size: xx-large;
  font-weight: bold;
  color: #ffb400;
}

.close {
  display: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #000;
  color: #fffdf4;
  font-weight: normal;
  border-radius: 1px;
  float: right;
  margin-left: 39px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.close::before {
  content: "\00D7";
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close:hover {
  color: #000;
  background-color: #fffdf4;
}

/* info */
.info {
  text-align: center;
}
.info-container {
  display: inline-block;
  position: relative;
}
.info h4 {
  color: #515151;
  margin-bottom: 0;
  font-size: 18px;
  margin-bottom: 10.3px;
}
.info h1 {
  color: #0b0b0b;
  font-size: 24px;
}
.h1-box {
  position: relative;
  margin-top: 0;
  margin-bottom: 44.3px;
}
.h1-box::before {
  content: "";
  display: block;
  padding-left: 15px;
  width: 30%;
  height: 2px;
  background: #ffb400;
  position: absolute;
  top: 50%;
}

.info p {
  color: #737373;
  text-align: left;
  font-size: 16px;
}

/* filters */

.filters-container {
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.central-input {
  border: 1.5px solid #5f5f5f;
  height: 30px;
  grid-column: 2/4;
  grid-row: 1 / 2;
  justify-self: stretch;
  align-self: center;
  display: flex;
  align-items: center;
}

.filters-central-input {
  border: none;
  width: 400px;
  display: flex;
  justify-content: stretch;
  outline: none;
  margin-right: 80px;
}
.filters-central-input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 16px;
}

.fas.fa-search.filters {
  font-size: small;
  font-weight: 600;
  color: #333;
  margin: 0 40px 0 15px;
}

.filters-search__btn {
  border: none;
  background: none;
  cursor: pointer;
}
.fa-arrow-right-long.filters {
  font-size: small;
}

.one::placeholder,
.two::placeholder,
.three::placeholder,
.four::placeholder {
  color: #333;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  padding-left: 5px;
  font-size: 16px;
}
.one,
.two,
.three,
.four {
  border: 1.5px solid #5f5f5f;
  height: 30px;
}
.one {
  grid-column: 1/1;
  grid-row: 2/2;
  margin-right: 10px;
}
.two {
  grid-column: 2/2;
  grid-row: 2/2;
}
.three {
  grid-column: 3/3;
  grid-row: 2/2;
}
.four {
  grid-column: 4/4;
  grid-row: 2/2;
  margin-left: 10px;
}

.filter-btn__left,
.filter-btn__right {
  background-color: #ffb400;
  height: 35px;
  width: auto;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 13px 5px 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.filter-btn__left {
  grid-column: 2/2;
  grid-row: 3/3;
  justify-self: end;
}
.filter-btn__right {
  grid-column: 3/3;
  grid-row: 3/3;
  justify-self: start;
}
.filter-btn__left:hover,
.filter-btn__right:hover {
  color: #fffdf4;
}

/* results */

.results-section {
  margin: 20px 0 20px 0;
}
.result-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.results-number {
  margin-right: 4px;
  font-size: 14px;
}
.result-text {
  margin-right: 15px;
  font-size: 14px;
}
.result-label {
  color: #ffb400;
  font-weight: 600;
  margin-right: 3px;
  font-size: 14px;
}
.result-close-btn {
  background: none;
  border: none;
  align-self: flex-start;
}
.result-close-icon {
  color: #ffb400;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
}
.result-close-icon:hover {
  color: #333;
}

.select-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.selection-left,
.selection-right {
  display: flex;
  align-items: center;
}

.select-text {
  margin-right: 5px;
  font-size: 14px;
}

.select-box {
  margin: 0 10px 0 10px;
  width: 150px;
  height: 30px;
  border: 1px solid #333;
  background-color: #fff;
  position: relative;
}
.select-btn {
  background-color: #fff;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 5px;
}

.select-btn i {
  font-size: 15px;
  transition: transform 0.3s linear;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 5px;
}
.select-box.active > .select-btn > i {
  transform: rotate(-180deg);
}
.select-box.active > .content {
  display: block;
}

.select-content.active {
  display: block;
  background-color: #f7f5f6;
}

.select-box.active,
.select-btn.active,
.select-input.active {
  background-color: #f7f5f6;
}
.select-input::placeholder {
  background-color: #f7f5f6;
  font-family: "Montserrat", sans-serif;
  color: #ffb400;
}
.select-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 20px 0 10px 0;
  width: 100%;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  z-index: 999;
  margin-left: -0.5px;
}

.select-content.ranking {
  padding-top: 3px;
}
.content .select-search {
  position: relative;
}
.select-content-input {
  height: 30px;
  width: 80%;
  font-size: 17px;
  margin-left: 5px;
  padding: 0;
  outline: none;
  border: 1px solid lightgray;
}
.select-content .options {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding-right: 7px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.select-content .options::-webkit-scrollbar {
  width: 7px;
}
.select-content .options::-webkit-scrollbar-track {
  background-color: #fbd479;
}
.select-content .options::-webkit-scrollbar-thumb {
  background-color: #ffb400;
}

.options > li {
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.options > li:hover,
.options > li.selected {
  background-color: #fbd479;
}
.options > li > span {
  font-weight: bold;
  padding-left: 10px;
}

.select-p {
  font-size: 16px;
  margin: 0;
  align-self: center;
  padding: 5px;
}

/* card-section */

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.2em;
  margin: 10px 0;
  max-width: 100%;
  padding: 20px 0;
}

.card-section {
  margin-bottom: 10vh;
}

.card {
  height: 60vh;
  margin-bottom: 8vh;
}
.image-container {
  width: 100%;
  height: 70%;
  position: relative;
  transition: background-color 0.3s ease;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin-bottom: 15px;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 180, 0, 0.5);
  color: white;
  text-align: center;
}
.text-overlay p {
  font-weight: bolder;
  padding-left: 10px;
  font-size: 14px;
}

.card-details {
  padding: 0 20px 0 20px;
  line-height: 20px;
  margin-top: 30px;
}

.card-title {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
.card-year,
.card-library {
  text-align: center;
  color: #333;
  margin-bottom: 0;
  font-size: 16px;
}
.card-line {
  border: none;
  text-align: center;
  height: 2px;
  background-color: #ffb400;
  width: 30%;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 180, 0, 0);
  transition: background-color 0.5s ease;
  z-index: -1;
}

.image-container:hover::before {
  background-color: rgba(255, 180, 0, 0.5);
  z-index: 1;
}
.image-container:hover {
  background-color: rgba(255, 180, 0, 0.5);
  z-index: 1;
}

.image-container:hover .text-overlay {
  background-color: transparent;
}

/* pagination */
.pagination-section {
  margin-bottom: 15%;
}

.pagination-container {
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 5px 20px 5px 20px;
}

.numb {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  margin: 1px;
  padding: 7px 12px;
  border-radius: 5px;
  will-change: border-color;
  transition: all ease;
  border: 1px solid #fff;
}
.pagination-btn {
  border: none;
  color: #333;
  background-color: transparent;
  font-weight: 900;
  font-size: 18px;
  padding: 5px;
  transition: background-color 0.5s ease;
}

.pagination-btn__left {
  margin-right: 15px;
}
.pagination-btn__right {
  margin-left: 15px;
}

.pagination-btn:hover {
  color: #ffb400;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #ffb400;
  font-weight: 900;
  padding: 10px;
}

.numb.active {
  background-color: #ffb400;
}
.numb:hover {
  border: 1px solid #ffb400;
}

/* footer */
.footer {
  border-top: 1.8px solid #333;
  margin-top: 20px;
}
.footer-container {
  margin: 35px 15px 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 50px;
}

.footer-left,
.footer-center,
.footer-right {
  padding: 10px;
}
.footer-left {
  font-size: 14px;
}
.footer-right {
  justify-self: end;
  font-size: 14px;
}
.footer-center {
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer ul li {
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer p {
  margin: 0;
}

.footer-item {
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 14px;
}
.footer-item:last-child {
  padding-bottom: 0;
}
.footer-item.special {
  font-weight: normal;
  font-size: 18px;
}
.footer-item.special.another {
  font-size: 14px;
}
.footer-item.line {
  line-height: 1.1;
}
.letter-spaced {
  letter-spacing: 4px;
}

/* media */

@media (max-width: 1150px) {
  .h1-box::before {
    width: 25%;
  }
  .nav-content {
    margin-left: 10%;
  }
}

@media (max-width: 900px) {
  main {
    margin-left: 7px;
    margin-right: 7px;
  }
  .nav-top span {
    font-size: 14px;
  }
  .logo img {
    height: 60px;
  }
  .nav-controls {
    padding-bottom: 0;
  }
  #burger-btn {
    font-size: 20px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
  }

  .nav-search {
    width: 600px;
    justify-self: center;
  }

  .info h1 {
    font-size: 21px;
    border-bottom: 2px solid #ffb400;
    margin-bottom: 0;
  }
  .h1-box::before {
    display: none;
  }
  .info p {
    margin-top: 0;
    text-align: justify;
    width: fit-content;
    margin-left: 15px;
  }

  .central-input {
    grid-column: 1 / 1;
    margin-bottom: 15px;
    justify-self: center;
  }

  .select-container {
    display: grid;
    grid-template-columns: repeat(autofill, 200px);
    gap: 7px;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15px;
  }
  .filters-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 10px;
  }

  .central-input {
    border: 1.5px solid #5f5f5f;
    height: 30px;
    justify-self: stretch;
    align-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .central-input,
  .one,
  .two,
  .three,
  .four {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
    width: 85%;
    justify-self: stretch;
    height: 30px;
  }
  .filter-btn__left,
  .filter-btn__right {
    grid-column: auto;
    grid-row: auto;
    justify-self: stretch;
    width: 150px;
  }

  .result-container {
    margin-left: 15px;
  }

  .select-container {
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    margin-left: 15px;
  }
  .selection-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: start;
  }

  .selection-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: start;
    align-self: start;
  }
  .select-text {
    margin-bottom: 0;
    text-align: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    width: 300px;
  }
  .pagination-container {
    padding: 3px;
    flex-wrap: wrap;
  }
  .pagination {
    margin: 5px 7px 5px 7px;
    padding-left: 0;
  }
  .numb {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .pagination li {
    list-style: none;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    margin: 1px;
  }
  .pagination-btn {
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
  }

  .pagination-btn span {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 15px 15px 0 15px;
    font-size: 12px;
    grid-gap: 5px;
  }
  .footer-left {
    justify-self: center;
    text-align: center;
  }
  .footer-right {
    margin-bottom: 7px;
    justify-self: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    padding: 3px;
  }
  footer ul li {
    margin-bottom: 3ch;
  }
  .footer-item {
    padding-bottom: 9px;
  }
}

@media (max-width: 720px) {
  main {
    margin-left: 15px;
    margin-right: 7px;
  }
  .nav-top span {
    font-size: 14px;
  }
  .logo img {
    height: 60px;
  }
  .nav-controls {
    padding-bottom: 0;
  }
  #burger-btn {
    font-size: 20px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 40px;
  }

  .nav-item {
    font-size: 1.2rem;
  }

  .nav-search {
    width: 400px;
    justify-self: center;
    grid-template-columns: 20px 300px 20px;
  }
  .nav-search__icon {
    margin-left: 5px;
  }

  .nav-search__input {
    width: 300px;
  }
  .nav-search__input::placeholder {
    font-size: 1rem;
  }
  .info h1 {
    font-size: 21px;
    border-bottom: 2px solid #ffb400;
    margin-bottom: 0;
  }
  .h1-box::before {
    display: none;
  }
  .info p {
    margin-top: 0;
    text-align: justify;
    width: fit-content;
    margin-right: 10px;
  }

  .central-input {
    grid-column: 1 / 1;
    margin-bottom: 15px;
    justify-self: center;
  }

  .select-container {
    display: grid;
    grid-template-columns: repeat(autofill, 200px);
    gap: 7px;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filters-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 10px;
  }

  .central-input {
    border: 1.5px solid #5f5f5f;
    height: 30px;
    justify-self: stretch;
    align-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .central-input,
  .one,
  .two,
  .three,
  .four {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
    width: 70%;
    justify-self: stretch;
    height: 30px;
  }
  .filter-btn__left,
  .filter-btn__right {
    grid-column: auto;
    grid-row: auto;
    justify-self: stretch;
    width: 150px;
  }

  .select-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .selection-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }

  .selection-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }
  .select-text {
    margin-bottom: 0;
    text-align: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 270px;
  }
  .pagination-container {
    padding: 3px;
    flex-wrap: wrap;
  }
  .pagination {
    margin: 5px 7px 5px 7px;
    padding-left: 0;
  }
  .numb {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .pagination li {
    list-style: none;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    margin: 1px;
  }
  .pagination-btn {
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
  }

  .pagination-btn span {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 15px 15px 0 15px;
    font-size: 12px;
    grid-gap: 5px;
  }
  .footer-left {
    justify-self: center;
    text-align: center;
  }
  .footer-right {
    margin-bottom: 7px;
    justify-self: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    padding: 3px;
  }
  footer ul li {
    margin-bottom: 3ch;
  }
  .footer-item {
    padding-bottom: 9px;
  }
}

@media (max-width: 533px) {
  main {
    margin-left: 7px;
    margin-right: 7px;
  }
  .nav-top span {
    font-size: 14px;
  }
  .logo img {
    height: 60px;
  }
  .nav-controls {
    padding-bottom: 0;
  }
  #burger-btn {
    font-size: 20px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
  }

  .nav-search {
    width: 400px;
    justify-self: center;
  }
  .nav-search__icon {
    margin-left: 5px;
  }
  .info h1 {
    font-size: 21px;
    border-bottom: 2px solid #ffb400;
    margin-bottom: 0;
  }
  .h1-box::before {
    display: none;
  }
  .info p {
    margin-top: 0;
    text-align: justify;
    width: fit-content;
    margin-right: 10px;
  }

  .central-input {
    grid-column: 1 / 1;
    margin-bottom: 15px;
    justify-self: center;
  }

  .select-container {
    display: grid;
    grid-template-columns: repeat(autofill, 200px);
    gap: 7px;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filters-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 10px;
  }

  .central-input {
    border: 1.5px solid #5f5f5f;
    height: 30px;
    justify-self: stretch;
    align-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .central-input,
  .one,
  .two,
  .three,
  .four {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
    width: 69%;
    justify-self: stretch;
    height: 30px;
  }
  .filter-btn__left,
  .filter-btn__right {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    width: 150px;
  }

  .select-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .selection-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }

  .selection-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }
  .select-text {
    margin-bottom: 0;
    text-align: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 270px;
  }
  .pagination-container {
    padding: 3px;
    flex-wrap: wrap;
  }
  .pagination {
    margin: 5px 7px 5px 7px;
    padding-left: 0;
  }
  .numb {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .pagination li {
    list-style: none;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    margin: 1px;
  }
  .pagination-btn {
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
  }

  .pagination-btn span {
    display: none;
  }
  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 15px 15px 0 15px;
    font-size: 12px;
    grid-gap: 5px;
  }
  .footer-left {
    justify-self: center;
    text-align: center;
  }
  .footer-right {
    margin-bottom: 7px;
    justify-self: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    padding: 3px;
  }
  footer ul li {
    margin-bottom: 3ch;
  }
  .footer-item {
    padding-bottom: 9px;
  }
}

@media (max-width: 470px) {
  .nav-search__icon {
    display: none;
  }
  .nav-search {
    width: 300px;
    grid-template-columns: 3fr 1fr;
  }
  .nav-search__input {
    margin-left: 15px;
    margin-right: 5px;
    width: 200px;
  }
  .nav-search__input::placeholder {
    font-size: 0.8rem;
  }

  .nav-search__icon {
    margin-left: 15px;
  }
  .central-input,
  .one,
  .two,
  .three,
  .four {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
    width: 50%;
    justify-self: start;
    height: 30px;
  }
  .filters-search__btn {
    display: none;
  }
  .numb {
    padding: 3px 7px;
  }
}

@media (max-width: 390px) {
  main {
    margin-left: 7px;
    margin-right: 10px;
  }
  .nav-top span {
    font-size: 14px;
  }
  .logo img {
    height: 60px;
  }
  .nav-controls {
    padding-bottom: 0;
  }
  #burger-btn {
    font-size: 20px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
  }
  .nav-content {
    grid-column-gap: 15px;
  }

  .nav-item {
    font-size: 0.9rem;
    line-height: 30px;
  }
  .submenu {
    font-size: 0.9rem;
    line-height: 25px;
  }

  .nav-search {
    display: none;
  }
  .nav-search__icon {
    margin-left: 5px;
  }
  .info h1 {
    font-size: 21px;
    border-bottom: 2px solid #ffb400;
    margin-bottom: 0;
  }
  .h1-box::before {
    display: none;
  }
  .info p {
    margin-top: 0;
    text-align: justify;
    width: fit-content;
    margin-right: 10px;
  }

  .central-input {
    grid-column: 1 / 1;
    margin-bottom: 15px;
    justify-self: center;
  }

  .select-container {
    display: grid;
    grid-template-columns: repeat(autofill, 200px);
    gap: 7px;
  }
  .filters {
    display: grid;
    grid-template-columns: 1fr;
  }
  .filters-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-top: 10px;
  }

  .central-input {
    border: 1.5px solid #5f5f5f;
    height: 30px;
    justify-self: stretch;
    align-self: center;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .central-input,
  .one,
  .two,
  .three,
  .four {
    grid-column: auto;
    grid-row: auto;
    margin: 0;
    width: 69%;
    justify-self: stretch;
    height: 30px;
  }
  .filters-central-input {
    width: 100px;
  }
  .filters-search__btn {
    display: none;
  }
  .filter-btn__left,
  .filter-btn__right {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    width: 150px;
  }

  .select-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .selection-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }

  .selection-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-self: center;
  }
  .select-text {
    margin-bottom: 0;
    text-align: center;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .card {
    width: 270px;
  }
  .pagination-container {
    padding: 3px;
    flex-wrap: wrap;
  }
  .pagination {
    margin: 5px 7px 5px 7px;
    padding-left: 0;
  }
  .numb {
    padding: 3px 7px;
    border-radius: 5px;
  }
  .pagination li {
    list-style: none;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    margin: 1px;
  }
  .pagination-btn {
    font-weight: 600;
    font-size: 12px;
    padding: 5px;
  }

  .pagination-btn span {
    display: none;
  }
}
